@keyframes show{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
body{
    background-color: whitesmoke; 
    margin:0;
    padding:0;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    opacity:0;
    animation: show 0.5s ease 0s 1;
    animation-fill-mode: forwards;
}
h1{
    background-color:#18b7ff;
    color: white;
    font-family: 'Verdana', 'sans-serif';
    padding: 10px;
    text-align: center;
}
p{
    text-align: center;
    font-size: 1.5em;
}
a{
    display:block;
    width:30%;
    margin: 20px auto;
    position:relative;
}
a img{
    border-radius: 5px;
    width:100%;
    border:5px solid white;
    box-sizing: border-box;
}

a:before{
    content: 'Смотреть';
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    font-size:2em;
    font-family: 'Verdana', 'sans serif';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:0;
    transform-origin: top left;
    transform: scale(0);
    transition:all .3s ease-in-out;
    background-color:rgba(229, 57, 53,0.5);
    border-radius:5px;

}
a:hover:before{
    opacity:1;
    transform: scale(1);
}
