body{
    background-image: url(../images/image2.JPG);
    background-size: auto 400%;
}
h1{
    background-color:#18b7ff;
    color: white;
    font-family: 'Verdana', 'sans-serif';
    padding: 10px;
    text-align: center;
}
table{
    border-collapse: collapse;
}
th{
    padding: 10px;
}
td {
    padding: 10px;
}
caption{
    caption-side: bottom;
}
.color1{
    background-color:thistle;
}
.color2{
    background-color: lightgrey;
}
.color3{
    background-color:lightcyan;
}